
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/AdminIndex.css" rel="stylesheet" />
<script src="~/Scripts/AdminIndex.js"></script>

<h2>Admin  PAnel</h2>
<hr />
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="container-fluid divAddStop">
                <label>Add Stop</label>
                <form class="form-group" id="formAddStop">                    
                    <input type="text" class="form-group" id="inputStopName" placeholder="Stop Name">
                    <input type="text" class="form-group" id="inputDescriptionStop" placeholder="Description">
                    <input type="text" class="form-group" id="inputStatusStop" placeholder="Status">
                    <button class="btn form-group btn-sm" id="btnAddStop">Add Stop</button>
                    <p id="resultAddStop"></p>
                </form>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="container-fluid divAddVoyage">
                <label>Add Voyage</label>
                <form class="form-group" id="formAddVoyage">
                    <input type="text" class="form-group" id="inputStopName" placeholder="Stop Name">
                    <input type="text" class="form-group" id="inputDescriptionStop" placeholder="Description">
                    <input type="text" class="form-group" id="inputStatusStop" placeholder="Status">
                    <button class="btn form-group btn-sm" id="btnAddStop">Add Stop</button>
                    <p id="resultAddStop"></p>
                </form>
            </div>
        </div>
        <div class="col-sm-4">

        </div>
    </div>
</div>
