@{
    ViewBag.Title = "Confirm e-mail";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
       Thank you! @Html.ActionLink("login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
